In [107]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

df = pd.read_csv("Taxi_Trip_Data.csv", sep=",")

C:\Users\Maelg\AppData\Local\Temp\ipykernel_40440\3073655614.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Taxi_Trip_Data.csv", sep=",")

In [108]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,01/01/2020 12:28:15 AM,01/01/2020 12:33:03 AM,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,01/01/2020 12:35:39 AM,01/01/2020 12:43:04 AM,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,01/01/2020 12:47:41 AM,01/01/2020 12:53:52 AM,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,01/01/2020 12:55:23 AM,01/01/2020 01:00:14 AM,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,01/01/2020 12:01:58 AM,01/01/2020 12:04:16 AM,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [109]:
df = df.dropna()
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
dtype: int64

In [ ]:
df = df.sample(frac=0.001, random_state=42)

In [114]:
df.insert(0, 'trip_id', range(1, len(df) + 1))
df_trip=df[['trip_id','tpep_pickup_datetime','tpep_dropoff_datetime','trip_distance','RatecodeID','store_and_fwd_flag']]

df_trip.head()

,trip_id,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,RatecodeID,store_and_fwd_flag
775243,1,01/05/2020 02:45:07 PM,01/05/2020 02:54:37 PM,2.35,1.0,N
1748815,2,01/10/2020 12:18:15 PM,01/10/2020 12:23:40 PM,0.74,1.0,N
1024521,3,01/06/2020 10:43:20 PM,01/06/2020 10:53:41 PM,1.98,1.0,N
3401112,4,01/17/2020 10:09:07 PM,01/17/2020 10:18:24 PM,1.58,1.0,N
5494878,5,01/28/2020 11:09:23 AM,01/28/2020 11:16:00 AM,0.72,1.0,N

In [115]:
df_vendor = pd.DataFrame(df['VendorID'].unique(), columns=['vendor_id'])

df_vendor.head()

   vendor_id
0        2.0
1        1.0

In [116]:
df_relation_trip_vendor = df.merge(df_vendor, left_on='VendorID', right_on='vendor_id')[['trip_id', 'vendor_id']]
df_relation_trip_vendor.head()

   trip_id  vendor_id
0        1        2.0
1        2        2.0
2        3        2.0
3        4        2.0
4        5        2.0

In [117]:
df_passenger_group  = pd.DataFrame(df['passenger_count'].unique(), columns=['passenger_count'])
df_passenger_group.insert(0, 'passenger_count_id', range(1, len(df_passenger_group) + 1))

df_passenger_group.head()

   passenger_count_id  passenger_count
0                   1              1.0
1                   2              3.0
2                   3              4.0
3                   4              2.0
4                   5              0.0

In [118]:
df_relation_trip_passenger = df.merge(df_passenger_group, left_on='passenger_count', right_on='passenger_count')[['trip_id', 'passenger_count_id']]
df_relation_trip_passenger.head()

   trip_id  passenger_count_id
0        1                   1
1        2                   1
2        3                   1
3        4                   1
4        5                   1

In [119]:
df_location = pd.DataFrame(pd.concat([df['PULocationID'], df['DOLocationID']]).unique(), columns=['location_id'])
df_location.head()

   location_id
0          180
1          249
2           50
3          158
4          114

In [120]:
df_relation_trip_location_start = df.merge(df_location, left_on='PULocationID', right_on='location_id')[['trip_id', 'location_id']]
df_relation_trip_location_start.head()

   trip_id  location_id
0        1          180
1        2          249
2        3           50
3        4          158
4        5          114

In [121]:
df_relation_trip_location_end = df.merge(df_location, left_on='DOLocationID', right_on='location_id')[['trip_id', 'location_id']]
df_relation_trip_location_end.head()

   trip_id  location_id
0        1          203
1        2          113
2        3          229
3        4          246
4        5          234

In [122]:
df_payement_type = pd.DataFrame(df['payment_type'].unique(), columns=['payment_type_id'])
payment_mapping = {
        1: "Credit card",
        2: "Cash",
        3: "No charge",
        4: "Dispute",
        5: "Unknown",
        6: "Voided trip"
    }
df_payement_type['payment_type_description'] = df_payement_type['payment_type_id'].map(payment_mapping)

df_payement_type.head()

   payment_type_id payment_type_description
0              1.0              Credit card
1              2.0                     Cash
2              3.0                No charge
3              4.0                  Dispute

In [123]:
df_relation_trip_payement = df.merge(df_payement_type, left_on='payment_type', right_on='payment_type_id')[['trip_id','payment_type_id' , 'fare_amount','extra','mta_tax' , 'tip_amount','tolls_amount','improvement_surcharge' , 'congestion_surcharge','total_amount']]
df_relation_trip_payement.head()

,trip_id,payment_type_id,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,congestion_surcharge,total_amount
0,1,1.0,9.5,0.0,0.5,2.06,0.0,0.3,0.0,12.36
1,2,1.0,5.5,0.0,0.5,0.88,0.0,0.3,2.5,9.68
2,3,1.0,9.5,0.5,0.5,2.66,0.0,0.3,2.5,15.96
3,4,1.0,9.0,0.5,0.5,2.00,0.0,0.3,2.5,14.80
4,5,1.0,6.0,0.0,0.5,2.79,0.0,0.3,2.5,12.09

In [124]:
df_trip.to_csv("df_for_Neo4j/Nodes/trip.csv", index=False)
df_vendor.to_csv("df_for_Neo4j/Nodes/vendor.csv", index=False)
df_passenger_group.to_csv("df_for_Neo4j/Nodes/passenger_group.csv", index=False)
df_location.to_csv("df_for_Neo4j/Nodes/location.csv", index=False)
df_payement_type.to_csv("df_for_Neo4j/Nodes/payement_type.csv", index=False)
df_relation_trip_vendor.to_csv("df_for_Neo4j/Relations/trip-vendor.csv", index=False)
df_relation_trip_passenger.to_csv("df_for_Neo4j/Relations/trip-passenger_group.csv", index=False)
df_relation_trip_location_start.to_csv("df_for_Neo4j/Relations/trip-location_start.csv", index=False)
df_relation_trip_location_end.to_csv("df_for_Neo4j/Relations/trip-location_end.csv", index=False)
df_relation_trip_payement.to_csv("df_for_Neo4j/Relations/trip-payement.csv", index=False)